.menu-wrap .ed-row {
    margin-bottom: 20px;
}

.menu-wrap .label {
    width: 100px;
}

.menu-wrap .btn-row {
    padding-left: 100px;
}

.menu-wrap .cancel {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin-left: 20px;
    height: 32px;
}

.menu-list {
    margin-top: 40px;
    width: 640px;
}

.menu-list .menu-edit,
.menu-list .menu-del {
    font-size: 16px;
}

.menu-list .menu-edit {
    color: #01b1c8;
}

.menu-list .menu-del {
    color: #c50000;
}