.wrap {
    padding-top: 35px;
}

.wrap .article-wrap {
    background-color: #fff;
}

.wrap .art-title,
.wrap .content {
    padding: 0 20px;
}

.wrap .content {
    margin: 0 20px;
    padding: 10px 0 20px;
    overflow: hidden;
}

.wrap .art-title {
    height: 60px;
    line-height: 60px;
    font-size: 24px;
    color: #333;
    border-bottom: 1px solid #ddd;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
}

.wrap .content h1,
.wrap .content h2,
.wrap .content h3,
.wrap .content h4,
.wrap .content h5,
.wrap .content h6 {
    margin: 10px 0;
    line-height: 1.2;
}

.wrap .content p {
    margin: 15px 0;
    line-height: 1.8;
}

.wrap .content img {
    max-width: 100%;
}

.wrap .content h1 {
    font-size: 24px;
}

.wrap .content h2 {
    font-size: 20px;
}

.wrap .content h3 {
    font-size: 18px;
}

.wrap .content h4 {
    font-size: 16px;
}

.wrap .content h5,
.wrap .content h6 {
    font-size: 12px;
}

.wrap .content a:hover,
.wrap .art-foot a:hover {
    text-decoration: underline;
}

.wrap .art-foot .reprint {
    padding: 16px 20px;
    /*height: 60px;*/
    line-height: 1.6;
}

.wrap .art-info {
    position: relative;
    padding: 0 20px;
    line-height: 60px;
    font-size: 12px;
    border: 1px dashed #ccc;
    border-left: 0;
    border-right: 0;
}

.wrap .art-info .art-cate {
    margin-left: 10px;
}

.wrap .art-info .icons {
    color: #de0b1b;
}

.wrap .art-info .art-praise {
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -9px;
    height: 18px;
    line-height: 18px;
    color: #333;
}

.wrap .art-info .art-praise:hover {
    text-decoration: none;
}

@media all and (max-width: 480px) {
    .wrap .art-title {
        height: 40px;
        line-height: 40px;
        font-size: 16px;
    }
    
    .wrap .content,
    .wrap .art-foot .reprint {
        font-size: 8px;
    }
    
    .wrap .content h1 {
        font-size: 16px;
    }
    
    .wrap .content h2 {
        font-size: 14px;
    }
    
    .wrap .content h3 {
        font-size: 12px;
    }
    
    .wrap .content h4 {
        font-size: 10px;
    }
    
    .wrap .content h5,
    .wrap .content h6 {
        font-size: 8px;
    }
    
    .wrap .art-info {
        line-height: 40px;
        font-size: 8px;
    }
}
